<div class="card">
  <div class="card-header bg-primary text-white">{{ title }}</div>
  <div class="card-block">
    <form class="form p-3 border-bottom">
      <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-end" for="filterDesc">
          Filter:
        </label>
        <div class="col-sm-5">
          <input
            type="text"
            [(ngModel)]="filterSearch"
            class="form-control"
            name="filterDesc"
            id="filterDesc"
            placeholder="Filter..."
          />
        </div>
        <label class="col-form-label col-sm-5">
          Filtered by: {{ filterSearch }}
        </label>
      </div>
    </form>

    <div class="table-responsive" *ngIf="products.length; else noProducts">
      <table class="table table-striped m-0">
        <thead>
          <tr>
            <th>
              <button
                class="btn btn-sm"
                [ngClass]="{ 'btn-success': !showImg, 'btn-danger': showImg }"
                (click)="toggleShowImg()"
              >
                {{ showImg ? "Hide" : "Show" }} Images
              </button>
            </th>
            <th>{{ headers.description }}</th>
            <th>{{ headers.price }}</th>
            <th>{{ headers.available }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let product of products; let i = index; let isEven = even"
          >
            <td>
              <img
                [src]="product.imageUrl"
                *ngIf="showImg"
                [title]="product.description | uppercase"
              />
            </td>
            <td [ngClass]="{ red: isEven, green: !isEven }">
              {{ product.description }}
            </td>
            <td>{{ product.price | currency: "EUR" }}</td>
            <td>{{ product.available | date: "dd/MM/yyyy" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noProducts>
      <p>There are no products to show</p>
    </ng-template>
  </div>
</div>
<div class="card mt-4">
  <div class="card-header bg-success text-white">Add product</div>
  <div class="card-body">
    <form (ngSubmit)="addProduct()">
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label text-sm-end">Description</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            name="description"
            [(ngModel)]="newProduct.description"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label text-sm-end">Price</label>
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control"
            name="price"
            [(ngModel)]="newProduct.price"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label text-sm-end">Available</label>
        <div class="col-sm-10">
          <input
            type="date"
            class="form-control"
            name="available"
            [(ngModel)]="newProduct.available"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label text-sm-end"> Image</label>
        <div class="col-sm-10">
          <input
            type="file"
            class="form-control"
            accept="image/*"
            (change)="changeImage($event)"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 offset-sm-2">
          <img class="product-img" [src]="newProduct.imageUrl" />
        </div>
      </div>

      <div class="mb-3 row">
        <div class="offset-sm-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>

    <div>{{ newProduct | json }}</div>
  </div>
</div>
