<div class="col-2 ps-2">
  <img
    [src]="product.imageUrl"
    *ngIf="showImg"
    alt=""
    [title]="product.description | uppercase"
  />
</div>
<div class="col-4">{{ product.description }}</div>
<div class="col">{{ product.price | currency: "EUR":"symbol" }}</div>
<div class="col">{{ product.available | date: "dd/MM/y" }}</div>
<div class="col">
  <star-rating
    [rating]="product.rating"
    (changed)="setRating($event)"
  ></star-rating>
</div>
<div class="col-auto">
  <button class="btn btn-sm btn-danger" (click)="delete()">X</button>
</div>
